<a class="navbar-brand text-light" href="#"><img src="../assets/images/code.svg" width="40" alt="code"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <img src="../assets/images/menu.svg" width="35" alt="menu icon">
</button>

<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link text-light" class="font-weight-bold" href="../index.html#intro">Hello <span icon>_</span></a>
        <a class="nav-item nav-link text-light" class="font-weight-bold" href="../index.html#portfolio"> PORTFOLIO <span icon>_</span></a>
        <a class="nav-item nav-link text-light" class="font-weight-bold" href="../index.html#experience"> EXPERIENCE <span icon>_</span></a>
        <a class="nav-item nav-link text-light" class="font-weight-bold" href="../index.html#certificate"> CERTIFICATE <span icon>_</span></a>
        <a class="nav-item nav-link text-light" class="font-weight-bold" href="../index.html#footer">CONTACT <span icon>_</span></a>
    </div>
</div>